*{
    padding: 3px;
    margin: 3px;
    box-sizing: border-box;
}
body{
    background:url(./images/wallpaperflare.com_wallpaper\ \(3\).jpg)no-repeat;
    background-size: cover;
}
#table1{
    width: 40%;
    background:rgb(22, 131, 27);
    border-radius: 30px;
    font-weight: 25px;
}
.BTN{
    background-color:rgb(119, 53, 14) ;
    border: none;
    padding: 12px 0;
    border-radius: 18px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 18px;
    cursor: pointer;
    transition: background-color .4s ease;
    width: 35%;
}
.BTN:hover{
    background-color: rgb(255, 17, 223);}